<footer aria-labelledby="footer-heading">
  <span id="footer-heading" class="sr-only"></span>

  <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:px-16">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="text-white xl:col-span-1">
        <a class="text-lg font-bold tracking-tighter text-primary-600 dark:text-primary-200 transition duration-500 ease-in-out transform tracking-relaxed lg:pr-8" href="{{site.Home.RelPermalink}}">
          {{site.Params.footer.content.logo.text | default "" }}
        </a>
        <p class="w-1/2 mt-2 text-sm text-gray-500 dark:text-gray-300">{{site.Params.footer.content.tagline | default "" }}</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-{{site.Params.footer.design.columns | default 4 }} gap-8 mt-12 xl:mt-0 xl:col-span-2">

          {{ $menu := .Site.Menus.footer }}
          {{ range $index, $menuItem := $menu }}
          <div>
            <h3 class="text-sm font-bold tracking-wider text-primary-500 dark:text-primary-300 uppercase">{{ $menuItem.Name }}</h3>
            <ul role="list" class="mt-4 space-y-2">
              {{ range $childIndex, $childMenuItem := $menuItem.Children }}
              {{ $url := .URL | relLangURL }}
              <li>
                <a href="{{ $url }}"
                class="text-base font-normal text-gray-500 hover:text-primary-600 dark:text-gray-300 dark:hover:text-primary-300"
                   {{ if findRE `^http` .URL }}
                   target="_blank" rel="noopener"
                   {{ end }}
                   >
                  {{ $childMenuItem.Name }}
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="px-4 py-12 mx-auto bg-transparent dark:bg-transparent max-w-7xl sm:px-6 lg:px-16">
    <div class="flex flex-wrap items-baseline">
      <span class="mt-2 text-sm font-light text-gray-500 dark:text-gray-300">
        {{/* Display copyright license. */}}
        {{ partial "site_footer_license" . }}
      </span>
    </div>
  </div>
</footer>
