{{ $page := .wcPage }}
{{ $block := .wcBlock }}

{{ $title := $block.content.title | emojify | $page.RenderString }}
{{ $rss := $block.content.rss }}
{{ $rss_span := $block.content.rss_span }}

{{ if $block.content.title }}

<div class="flex flex-col items-center max-w-prose mx-auto gap-3 justify-center">

  <div class="mt-4 mb-3 text-2xl font-bold text-gray-900 dark:text-white">
    {{ $block.content.title | emojify | $page.RenderString }}
  </div>

  {{ with $block.content.text }}<p>{{ . | emojify | $page.RenderString }}</p>{{ end }}
</div>
{{ end }}

<dl class="grid grid-cols-4 gap-3 mx-auto" style="max-width:28rem">
    {{ range $idx, $item := $block.content.items }}
        {{ $images := resources.Match (printf "media/icons/%s.{svg,png}" $item.icon) }}
        {{ range $images }}
        {{ $image := . }}
        {{- $isSVG := eq $image.MediaType.SubType "svg" -}}
        {{ if not $isSVG }}
        {{ $image = $image.Fit "256x256 webp drawing" }}
        {{ end }}
        <a href="{{$item.url}}" target="_subscribe" title="Listen on {{$item.name}}">
            <div class="rounded-md hover:scale-105 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2" style="padding: .375rem; padding-top: .4rem; padding-bottom: .4rem; background-color: #1B4066; border-color: #1B4066;">
                <div class="flex grid grid-cols-2 gap-2 items-center justify-center" style="grid-template-columns: 24px 3fr;">
                    <div class="flex" style="justify-self: end;">
                        <img data-nimg="1" decoding="async" loading="lazy"  style="color:transparent" src="{{$image.RelPermalink}}" alt="{{$item.name}} logo" width="24" height="24">
                    </div>
                    <div class="flex text-wrap" style="justify-self: start;">
                        <dt class="text-gray-100" style="font-size:.695rem; line-height:1; font-weight:600">{{$item.name}}</dt>
                    </div>
                </div>
            </div>
        </a>
        {{ end }}
    {{ end }}
    {{if $rss}}
        <div style="height: 100%; grid-column: span {{$rss_span}} / span {{$rss_span}};">
                <div class="rounded-md shadow-sm read-only" style="padding: .375rem; padding-top: .4rem; padding-bottom: .4rem;background-color:#1b4066;border-color:#1b4066; font-family:monospace; font-size:.695rem;height: 100%; align-content: center">
                    <div class="flex grid grid-cols-3 gap-2 items-center justify-center" style="grid-template-columns: 16px 1fr 16px">
                        <div class="flex" style="justify-self:start">{{ partial "functions/get_icon" (dict "name" "custom/rss" "attributes" "style=\"height: 14px;  padding-left: 2px; padding-right: 2px;\" class='inline-block'") }}</div>
                        <div class="flex"><input id="rss" type="text" value="{{$rss}}" style="width: 100%; padding: 2px; padding-left: 6px; padding-right: 6px;" readonly></div>
                        <div id="copy-button" class="flex" style="justify-self:end"><button class="btn" data-clipboard-target="#rss" data-tooltip-target="copy-feedback" data-tooltip-trigger="click" data-tooltip-placement="right" type="button">
                            {{ partial "functions/get_icon" (dict "name" "custom/copy" "attributes" "style=\"height: 14px; padding-left: 2px; padding-right: 2px;\" class='inline-block'") }}
                        </button></div>
                        <div id="copy-feedback" role="tooltip" class="tooltip absolute z-10 invisible inline-block text-sm font-medium text-white bg-gray-900 rounded-sm shadow-sm opacity-0 dark:bg-primary-900" style="font-family:sans-serif; padding: 0px 6px;">
                            Copied
                        </div>
                    </div>
                </div>
        </div>
    {{end}}
</dl>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.4.1/flowbite.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.js"></script>

<script>
    var btns = document.querySelectorAll('button');
    var clipboard = new ClipboardJS(btns);
    const $targetEl = document.getElementById('copy-feedback');
    const $triggerEl = document.getElementById('copy-button');
    const tooltip = new Tooltip($targetEl, $triggerEl);

    clipboard.on('success', function (e) {
      console.info('Action:', e.action);
      console.info('Text:', e.text);
      console.info('Trigger:', e.trigger);
      tooltip.show();

      e.clearSelection();
      setTimeout(function(){
        tooltip.hide();
      }, 2000);
    });

    clipboard.on('error', function (e) {
      console.info('Action:', e.action);
      console.info('Text:', e.text);
      console.info('Trigger:', e.trigger);
    });
  </script>